extend layout
block content
  if (value == null)
    div(class='alert alert-info') No such entry (expired?)
  else
    | Post data
    pre
      code #{value}
  | Info
  div(class='panel panel-default')
    .div(class='panel-body')
      if (post)
        p Want to create a new post? 
          a(href='/get/#{randomKey}') Click here
      if (!post || !post.sticky)
        if(value)
          | To edit 
        else
          | To create 
        |  this post just use your favourite http tool like:
        pre curl --data "new post content :)" http://#{host}/post/#{key}
        | or
        pre wget -q -O - --post-data "new post content :)" http://#{host}/post/#{key}
        a(href='/get/#{key}') Refresh
        |  to see if your post arrived already.